@page "/entry"
@page "/entry/{Date:datetime}"
@using dailies.Client.Models
@inject NavigationManager NavigationManager
@inject DateUtilities DateUtilities

<div class="row justify-content-md-center">
    <div class="col-md-10 col-lg-7 col-xl-5 pt-3 px-4">
        <EntryEditorForm Date="@Date"/>
    </div>
</div>

@code
{
    [Parameter]
    public DateTime? Date { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Date == null)
        {
            NavigationManager.NavigateTo($"/entry/{DateUtilities.GetStandardShortDate(DateTime.Today)}");
        }
    }
}

