@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
    </div>

    <div class="content px-4">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                @Body
            </div>            
        </div>        
    </div>
</div>
